#body{
    font-family: Quicksand;
}
.best{
    font-size: 44px;
    font-weight:600;
    margin-top:130px;
    
}
.design{
    font-size:44px;
    color: rgb(0, 217, 166);
    font-weight: 600;
}

.btn3{
    background-image:linear-gradient(271deg, rgb(0, 217, 166)0%, rgb(155, 225, 93)100%);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border-radius:25px;
    padding:15px 45px;
    font-size:13px;
    color:#eee;
    border: none;
     margin-bottom:55px;
  

}
.bran{
    color:#444;
    font-weight: 400;
    font-size:15px
}
.branimag{
    max-width:100%;
    height:auto
}


@media screen and (max-width: 800px){
    .design{
        font-size: 33px;
    line-height: 45px;
    text-align: center;

    }
    .bran{
        text-align: center;
    }
    .best{
        margin-top:80px;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }
    .branimag{
        max-width:100%;
        height:20vh
    }
   
    
}
