#body{
       font-family: Quicksand;
}
.card{
       box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
       border:'none'
}
.card:hover{
       background-image:linear-gradient(271deg, rgb(0, 217, 166)0%, rgb(155, 225, 93)100%);
       cursor: pointer;
       box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75)
}
.btn{
       background-image:linear-gradient(271deg, rgb(0, 217, 166)0%, rgb(155, 225, 93)100%);
       box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75)
}


